<div class="jumbotron">
  <div class="container">
    <h1>Welcome to PhantasmDB!</h1>
    <p>
      PhantasmDB is the greatest source of information about PhantasmRPG. You can get information about items and stats of
      this Warcraft III map on this site. More information about spells, essences and general mechanics of the map is to be
      added soon™. 
    </p>
    <p class="alert alert-warning" role="alert">
      Caution! This website is in early development. If you encounter any bugs or errors, please, 
      <a href="https://github.com/phantasmdb/phantasmdb-source/issues" target="_blank" class="alert-link"> create a GitHub issue.</a>
      Thank you for your cooperation!
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="card-body">
              <h2 class="card-title">Items</h2>
              <p class="card-text">
                Have you ever wondered what kind of loot can you earn after you pass yet another level? Well, now you can
                easily see all the items or find items with specified rarity, stat or slot.
              </p>
              <p class="card-text">
                <a routerLink="items" class="btn btn-outline-info" role="button">Explore items</a>
              </p>
          </div>
        </div>
      </div>  
      <div class="col-md-4">
        <div class="card mb-2">
          <div class="card-body">
              <h2 class="card-title">Spells</h2>
              <p class="card-text">
                Do you want to find a level where this specific spell drops? Do you want to optimise your build? Or maybe you're
                just curious about spells presented in the map? Either way, click the button below and you'll find what you're looking for.
              </p>
              <p class="card-text">
                <a routerLink="items" class="btn btn-outline-info disabled" role="button">Coming soon!</a>
              </p>
          </div>
        </div>    
      </div>  
  </div>
</div>
